body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

h1{
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.menu{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.menu-list{
    list-style-type: none;
    margin: 20px 10px;
    padding: 0px;
    display: flex;
    flex: 1;
    height: 20px;
    justify-content: center;
    color: white;
    flex-wrap: wrap;

}

.menu-list li{
    margin: 10px 0px;
}

.menu-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    margin: 10px 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.menu-list li a:hover {
    background-color: white; 
    color: black;
}

.card{
    max-width: 600px;
    background: #000000;
    margin: 16px auto;
    padding: 40px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.card p{
    font-size: 20px;
    color: black;
    background: rgb(255, 255, 255);
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.button{
    color: black;
    margin: 0 auto;
    text-align: center;
    display: block;

}

button{
    font-size: 14px;
    padding: 8px 16px;
    margin: 10px 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    color: black;
}

button:hover {
    background-color: black; 
    color: white;
}

.image1{
    width: 300px;
    height: auto;
    align-items: center;
    display: block;
    margin: 0 auto;
}

h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.descr{
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    text-align: center;
}